@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spoqa-han-sans-neo: @apply font-spoqa;
}
*::-webkit-scrollbar {
  width: 1px;
  background-color: white;
  color: chartreuse;
}

*::-webkit-scrollbar-thumb {
  background-color: #72b76d;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
